repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main, --branch, dev]
        fail_fast: true
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: check-added-large-files
      - id: detect-private-key

  - repo: https://github.com/roy-ht/pre-commit-jupyter
    rev: v1.2.1
    hooks:
      - id: jupyter-notebook-cleanup
        args:
          - --remove-kernel-metadata
          - --pin-patterns
          - "[pin];[donotremove]"
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.0.2
    hooks:
      - id: autoflake

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.6.4
    hooks:
      - id: nbqa-black
      # - id: nbqa-isort
